.post-list {
  @include boxBorder(yes);
  width: 100%;
  max-width: $max-page-width;
  margin-bottom: 60px;
  font-size: $small-font-size;
  @include breakpoint("phone") {
    background-color: transparent;
    border: 0;
    margin-bottom: 30px;
  }
  .table {
    width: 100%;
    border: 1px solid black;
    .table-row {
      border: 1px solid black;
      .table-category {
        width: 60px;
        text-align: center;
        padding: 10px 20px 10px 20px;
        border: 1px solid black;
      }
      .table-title {
        width: 500px;
        padding: 10px 20px 10px 20px;
        border: 1px solid black;
      }
      .table-creator {
        width: 70px;
        text-align: center;
        padding: 10px 20px 10px 20px;
        border: 1px solid black;
      }
      .table-count {
        width: 70px;
        text-align: center;
        padding: 10px 20px 10px 20px;
        border: 1px solid black;
      }
      .table-date {
        width: 100px;
        align-items: center;
        padding: 10px 20px 10px 20px;
        border: 1px solid black;
      }
    }
  }
}
