{% extends 'guide/base.html' %}
{% block content %}
    {% for image in images %} 
        <div>
            <h3><a href="">{{ image.title }}</a></h3>
        </div>
        <img class="image" src="{{ image.image.url }}"/>
        <div class="text">content: {{image.text}}</div>
        <div class="genre">category: {{image.genre.name}}</div>
        hierarchy:
        {% for ancestor in image.genre.get_ancestors %}
            <div class="ancestor"> {{ ancestor.name }}</div>
        {% endfor %}
    {% endfor %}
{% endblock %}